newspaper3k
beautifulsoup4
requests
lxml
lxml_html_clean
Pillow
torch==2.2.2
transformers==4.40.1
datasets==2.19.1
accelerate==0.29.3
sentencepiece==0.2.0
tokenizers==0.19.1
shap==0.45.0
numpy==1.26.4
openai==1.25.1
plotly==5.21.0
scikit-learn==1.4.2
pandas==2.2.2
python-dotenv==1.0.1
tqdm==4.66.2
scipy==1.13.0
matplotlib==3.8.4
seaborn==0.13.2
huggingface-hub==0.22.2
safetensors==0.4.3
fpdf2==2.7.9
httpx==0.27.0